.feedbackList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
}
.feedbackList :first-child {
  color: green;
}
.feedbackList :nth-child(2) {
  color: grey;
}
.feedbackList :nth-child(4) {
  color: orange;
}
.feedbackList :last-child {
  color: rgb(51, 0, 128);
}
